[user]
    name = Gregory Morrison
    email = greg.morrison@gmail.com
[core]
	autocrlf = input
	editor = vim
	eol = lf
	excludesfile =
    longpaths = true
[push]
	default = simple
[merge]
    tool = vim
[mergetool]
    keeptemporaries = false
    keepbackups = false
    prompt = false
    trustexitcode = false
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = always
    pager = true
